body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flex-container{
    margin-top: 40px;
    display: flex;
  
}

.half-width{
    padding: 2%;
    width: 50%;
}

.half-width img{
    width: 85%;
}

#intro{
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 100px;
}
#intro h1{
    font-size: 45px;
    color: rgb(75, 70, 70);
}
#intro p{
    color: gray;
    padding-right: 100px;
}
.orange-color{
    color: rgb(243, 140, 6);
}
.link-button{
    display: inline-block;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
    text-decoration: none;
    padding: 15px 25px;
    background-image: linear-gradient(to right, orange, red);
    border-radius: 30px;
}

.top-banner{
    background-image: url(images/top-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

#mid-banner.flex-container{
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(images/mid-banner.png);
    background-position: right;

}

#about-girl img{
    width: 45%;
    margin-top: 10px;
    padding: 5% 25%;
}

#about-me{
    margin:auto;
}

#about-me h2{
    color: gray;
}

#about-me p{
    margin-top: 5%;
    margin-right: 30%;
}

#about-me .link-button{
    margin-top: 50px;
    width: 90px;
}
.recipe{
    margin: 5% 20% 0 20%;
    text-align: center;
}
.recipe h2{
    color: rgb(75, 70, 70);
}
.recipe p{
    padding-top: 10px;
    color: gray;

}

.recipe-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.recipe-item{
   border-radius: 25px;
   margin-left: 20px;
   margin-right: 20px; 
   box-shadow: 10px -10px 40px #CCC;
}
.recipe-item img{
    margin: auto;
    width: 100%;
}
.recipe-item h3{
    color: black;
    padding-top: 20px;
}

.recipe-item p{
    font-size: 14px;
    color: rgb(75, 70, 70);
}

.profile-container{
    width: 87%;
    margin-top: 100px;
    margin-left: 6.5%;
    margin-right: 6.5%;
    box-shadow: 10px -10px 40px #CCC;
    border-radius: 25px;

}
.profile-item h2{
    font-size: 40px;
    margin-bottom: 0;
}
.profile-item p{
    margin-top: 10px;
    padding-bottom: 20px;
    color: rgb(75, 70, 70);
}
.profile-item{
   margin-left: 120px;
}

.foot-note{
    background-color: rgb(10, 9, 9);
    text-align: center;
    color: rgb(75, 70, 70);
    margin-top: 70px;
    padding-top: 25px;
}
.foot-note p{
    color: honeydew;
    font-size: 14px;
}

.foot-note footer{
    margin-top: 60px;
    padding-bottom: 30px;
}